footer.main-chat__bottom
    section.main-chat-bottom__block
        .main-chat-bottom__items
            .main-chat-bottom__attach-btn
            img(src=imgAttach alt='icon') 
            | !{attachLink}
            .main-chat-bottom__message-panel
                .main-chat-bottom__message-panel_text 
                | !{input}
            .main-chat-bottom__send-btn 
                img(src=imgSend alt='icon') 
                | !{sendLink}
    