label(class=`input__label ${name}`)=label || ''
input(type=`${type}` name=`${name}` class=`input__field-${name}` placeholder=`${placeholder || ''}` required autofocus)
label(class=`error error-${name}`)=error || ''
