div.auth-layout
    main.signUp
        form(class='signUp__block' action='../../chat/chat.html')
            .signUp__block-title
                span(class="sign-in__title")=title
            .signUp__block-user-info-input
                | !{email}
                | !{login}
                | !{firstName}
                | !{secondName}
                | !{phone}
                | !{password}
                | !{repeatPassword}
            .signUp__block-auth-btn
                | !{button}
            //- .signUp__block-signUp
            //-     | !{link}
