.user-chats__container
    .user-chats__img=href
    .user-chats__content
        .user-chats__content-name=name
        .user-chats__content-message=message
    .user-chats__notify
        .user-chats__notify-time=time
        .user-chats__notify-new-messages=newMessageCount
    