div.auth-layout
    main.sign-in
        form(class='sign-in__block' action='../../chat/chat.html')
            .sign-in__block-title
                span(class="sign-in__block-title-text")=title
            .sign-in__block-login-input
                | !{login}
                | !{password}
            .sign-in__block-auth-btn
                | !{button}
            .sign-in__block-sign-up
                | !{link}
