.profile-card__user-info
    .profile-card__user-info-avatar=img
    .profile-card__user-info-name=userInfoName

.profile-card__block
    .profile-card__fields 
        | !{email}
        | !{login}
        | !{firstName}
        | !{secondName}
        | !{username}
    
    .profile-card__actions
        .profile-card__field
            | !{updateInfoLink}
        .profile-card__field
            | !{updatePasswordLink}
        .profile-card__field    
            | !{exitLink}
